*{
    background-color: rgb(166, 202, 214);
}
body {
    text-align: center;
}

.menu {
    margin: 30 vh;
  
  
    /* align-content: center;
    justify-content: center; */
}

#input {
    margin: 30 vh;
 
    
    /* justify-content: center; */ 
}

h1 {
    margin: 30 vh;
    padding: 50 vh;
}
.drink-card {
    height: 250px;
    width: 200px;
    border: 1px solid black;
    margin: 1%
}

.drink-card img {
    height: 200px;
    width: 200px;
}
.drink-card p {
    font-size: 1.1rem;
    text-align: center;

}

.a-z-btn{
border-radius: 12px;
background-color:grey; 
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}