
body {
    text-align: center;
    background-color: rgb(166, 202, 214);
    
}

.menu {
    margin: 30 vh;
  
  
    /* align-content: center;
    justify-content: center; */
}

#input {
    margin: 30 vh;
 
    
    /* justify-content: center; */ 
}

h1 {
    margin: 30 vh;
    padding: 50 vh;
}
.drink-card {
    height: 250px;
    width: 200px;
    border: 1px solid black;
    margin: 1%
}

.drink-card img {
    height: 200px;
    width: 200px;
}
.drink-card p {
    font-size: 1.1rem;
    text-align: center;

}


.header{
    background-color: green;
}

main{
    background-color: red;
}

.sidebar{
    background-color: yellow;

}

.favorites{
    background-color: blue;
}

.search-bar{
    background-color: bisque;
}
 .search-by-letter{
     background-color: brown;
 }

 .suggested-drink{
     background-color: aqua;
 } 

 .search-results{
     background-color:coral
 }

.a-z-btn{
border-radius: 12px;
background-color:grey; 
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }