
body {background-color: lightblue;
height: 100vh}

#menu {
    display: flex;
  align-items: center
    /* align-content: center;
    justify-content: center; */
}

#input {
    display: flex;
  align-items: center
    /* align-content: center;
    justify-content: center; */
}

h1 {
    align-items: center;
}
.drink-card {
    height: 250px;
    width: 200px;
    border: 1px solid black;
    margin: 1%
}

.drink-card img {
    height: 200px;
    width: 200px;
}
.drink-card p {
    font-size: 1.1rem;
    text-align: center;

}

.container{
    padding: 25%;
}

#input{
    display: flex;
    flex-direction: column; 
}

header{
    background-color: green;
}

main{
    background-color: red;
}

.sidebar{
    background-color: yellow;

}

.favorites{
    background-color: blue;
}

.search-bar{
    background-color: bisque;
}
 .search-by-letter{
     background-color: brown;
 }

 .suggested-drink{
     background-color: aqua;
 } 

 .search-results{
     background-color:coral
 }
